.button-left{
    margin-right: 15px;
}

footer {
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.fa-angle-double-right {
	color: #fff;
	margin-right: 10px;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')